
/* [data-md-color-scheme="myScheme"] { */
    /* --md-primary-fg-color:        #D6D6D6; */
    /* --md-primary-fg-color--light: #37352f; */
    /* --md-primary-fg-color--dark:  hsl(0, 0%, 84%); */
/* } */


/* [data-md-color-scheme="slate"] { */

    /* --md-hue: 220; */

    /* Typeset `mark` color shades */
    /* --md-typeset-mark-color: hsla(217, 47%, 29%, 1); */
/* } */

[data-md-color-scheme="default"] {
    /* --md-hue: 220; */

    /* Typeset `mark` color shades */
    --md-typeset-mark-color: hsla(217, 50%, 25%, 0.1);
}


/* .md-grid {
    max-width: 1440px; 
} */


/* :root {
    --md-primary-fg-color:        #EE0F0F;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
} */
